<html>
    <head>
        <title>Código da sala incorreto</title>
    </head>
    <script>
        confirm("O código da sala está incorreto, tente novamente!")
        window.location.replace("/")
    </script>
</html>